
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
        .jumbotron {
          background:     hsl(81,76%,44%);
          color:          rgba(8,27,51,.8);
          font-family:    "futura-pt";
          font-size:      16px;
          line-height:    1.5em;
          letter-spacing: .02em;
          font-weight:    400;
          font-style:     normal;}
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1> NDA Generator</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>

</div>
</body>
</html>
