<!doctype html>
<html>
  <head>
    <title>Pdf Page</title>
  </head>
  <body>
    <h1>PDF Page</h1>



    <ul class="nda">
      <% for(var i=0; i<nda.length; i++) {%>
        <li class="nd">
          <span><%= nda[i].question1 %></span>
          <span><%= nda[i].question2 %></span>
        </li>
      <% } %>
    </ul>





    </body>
  </body>
</html>
