<!DOCTYPE html>
<html>
  <head>
    <title>Home page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        body        {
          color:          rgba(8,27,51,.8);
          font-family:    "futura-pt";
          font-style:     normal;
        }
    </style>
  </head>
  <body>
  	<h1>Home Page</h1>

  	<!-- This can be turned into a menu easily -->
  	<ul>
      <li> <a href="/survey">Create a NDA?</a></li>
  	</ul>
    <p></p>
  </body>
</html>
