<!DOCTYPE html>
<html>
  <head>
    <title>Home page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        body        {
          padding-top: 80px;
          background:     rgba(8,27,51,.8);
          color:          rgb(255,255,255);
          font-family:    "Times New Roman";
          font-style:     normal;
          text-align: center;
        }
        h1{
          font-size: 62px;
        }
        a{
          color: rgb(255,255,255);
        }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 25%;
        }
    </style>
  </head>
  <body>
    <img src="erdois.png" class="center" /> &ensp;
  	<h1>Home Page</h1>

  	<!-- This can be turned into a menu easily -->
  	 <a href="/survey">Create a NDA?</a>
    <img src="logo.png" class="center"/>
  </body>
</html>
